# python
__pycache__/
dist/

# text editor
.vscode/
*.swp
*.swo

# coverage
.coverage
htmlcov
coverage.xml
bandit.json

# Tests
.tox
.coverage

# macOS
.DS_Store

# environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# sonar
.sonar/
.scannerwork/
